html {
	 font-size: 100%;
	 -webkit-text-size-adjust: 100%;
	 -ms-text-size-adjust: 100%;
}

body {
	background-color: #4AD9D9;
}

.title {
	text-align: center;
	background-color: #36B1BF;
  height: 100px;
  border-top: rgba(54, 177, 191, 0.35) 10px groove;
  border-bottom: rgba(54, 177, 191, 0.35) 10px groove;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

#explanation {
	font-family: 'Lora', serif;
	color: #F2385A;
}

.top {
	text-align: center;
	border: white solid 3px;
	background-color: #F2385A;
	width: 620px;
	border-radius: 25px;
}

.top h2 {
	font-family: 'Permanent Marker', cursive;
	color: white;
}

#slothmachine {
	float: left;
	display: inline-block;
}

.machine {
	background-color: #E9F1DF;
	width: 620px;
	height: 240px;
	border-radius: 25px;
	border: white solid 3px;
	display: inline-block;
}

.defaultSlot {
	margin-top: 20px;
	border-radius: 25px;
}

.randomSlot {
	margin-top: 20px;
	border-radius: 25px;
}

#slot1 {
	background:url('../images/slot1-blur.png') repeat-y;
	height: 200px;
	width: 200px;
	position: relative;
	margin-top: 20px;
	display: inline-block;
}

#slot2 {
	background:url('../images/slot2-blur.png') repeat-y;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin-top: 20px;
}

#slot3 {
	background:url('../images/slot3-blur.png') repeat-y;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin-top: 20px;
}

.clear {
	clear:both;
}

.button {
	background-color: #F5A503;
	width: 620px;
	height: 100px;
	border-radius: 25px;
	border: white solid 3px;

}

button {
	left: 200.5px;
	top: 27px;
	position: relative;
	display: inline-block;
}

#results {
	float: right;
	position: relative;
	display: inline-block;
	text-align: center;
	color: #F2385A;
}

#results h3 {
	font-family: 'Lora', serif;
}

footer {
	margin-top: 2em;
	text-align: center;
}

/****** TESTING WITH CSS3 *******/

    .container {
      width: 210px;
      height: 140px;
      position: relative;
      margin: 0 auto 40px;
      border: 1px solid #CCC;
      -webkit-perspective: 1100px;
         -moz-perspective: 1100px;
           -o-perspective: 1100px;
              perspective: 1100px;
    }
    #carousel {
      width: 100%;
      height: 100%;
      position: absolute;
		  -webkit-transform-style: preserve-3d;
/*		  -webkit-animation-duration: 5s;
		  -webkit-animation-iteration-count: 1;
		  -webkit-animation-timing-function: ease;
		  -webkit-animation-fill-mode: forwards;*/
		  -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    	animation-delay: 2s;
      -webkit-transform: translateZ( -300px );
         -moz-transform: translateZ( -300px );
           -o-transform: translateZ( -300px );
              transform: translateZ( -300px );
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
    }
    #carousel figure {
      display: block;
      position: absolute;
      width: 200px;
      height: 200px;
      left: 10px;
      top: 10px;
      border: 2px solid black;
      line-height: 116px;
      font-size: 80px;
      font-weight: bold;
      color: white;
      text-align: center;
    }
    
    #carousel figure:nth-child(1) { background: hsla(   0, 100%, 50%, 0.8 ); }
    #carousel figure:nth-child(2) { background: hsla(  40, 100%, 50%, 0.8 ); }
    #carousel figure:nth-child(3) { background: hsla(  80, 100%, 50%, 0.8 ); }
    #carousel figure:nth-child(4) { background: hsla( 120, 100%, 50%, 0.8 ); }
    #carousel figure:nth-child(5) { background: hsla( 160, 100%, 50%, 0.8 ); }
    #carousel figure:nth-child(6) { background: hsla( 200, 100%, 50%, 0.8 ); }
    #carousel figure:nth-child(7) { background: hsla( 240, 100%, 50%, 0.8 ); }
    #carousel figure:nth-child(8) { background: hsla( 280, 100%, 50%, 0.8 ); }
    #carousel figure:nth-child(9) { background: hsla( 320, 100%, 50%, 0.8 ); }
    #carousel figure:nth-child(1) {
      -webkit-transform: rotateX(   0deg ) translateZ( 300px );
         -moz-transform: rotateX(   0deg ) translateZ( 300px );
           -o-transform: rotateX(   0deg ) translateZ( 300px );
              transform: rotateX(   0deg ) translateZ( 300px );
    }
    #carousel figure:nth-child(2) {
      -webkit-transform: rotateX(  40deg ) translateZ( 300px );
         -moz-transform: rotateX(  40deg ) translateZ( 300px );
           -o-transform: rotateX(  40deg ) translateZ( 300px );
              transform: rotateX(  40deg ) translateZ( 300px );
    }
    #carousel figure:nth-child(3) {
      -webkit-transform: rotateX(  80deg ) translateZ( 300px );
         -moz-transform: rotateX(  80deg ) translateZ( 300px );
           -o-transform: rotateX(  80deg ) translateZ( 300px );
              transform: rotateX(  80deg ) translateZ( 300px );
    }
    #carousel figure:nth-child(4) {
      -webkit-transform: rotateX( 120deg ) translateZ( 300px );
         -moz-transform: rotateX( 120deg ) translateZ( 300px );
           -o-transform: rotateX( 120deg ) translateZ( 300px );
              transform: rotateX( 120deg ) translateZ( 300px );
    }
    #carousel figure:nth-child(5) {
      -webkit-transform: rotateX( 160deg ) translateZ( 300px );
         -moz-transform: rotateX( 160deg ) translateZ( 300px );
           -o-transform: rotateX( 160deg ) translateZ( 300px );
              transform: rotateX( 160deg ) translateZ( 300px );
    }
    #carousel figure:nth-child(6) {
      -webkit-transform: rotateX( 200deg ) translateZ( 300px );
         -moz-transform: rotateX( 200deg ) translateZ( 300px );
           -o-transform: rotateX( 200deg ) translateZ( 300px );
              transform: rotateX( 200deg ) translateZ( 300px );
    }
    #carousel figure:nth-child(7) {
      -webkit-transform: rotateX( 240deg ) translateZ( 300px );
         -moz-transform: rotateX( 240deg ) translateZ( 300px );
           -o-transform: rotateX( 240deg ) translateZ( 300px );
              transform: rotateX( 240deg ) translateZ( 300px );
    }
    #carousel figure:nth-child(8) {
      -webkit-transform: rotateX( 280deg ) translateZ( 300px );
         -moz-transform: rotateX( 280deg ) translateZ( 300px );
           -o-transform: rotateX( 280deg ) translateZ( 300px );
              transform: rotateX( 280deg ) translateZ( 300px );
    }
    #carousel figure:nth-child(9) {
      -webkit-transform: rotateX( 320deg ) translateZ( 300px );
         -moz-transform: rotateX( 320deg ) translateZ( 300px );
           -o-transform: rotateX( 320deg ) translateZ( 300px );
              transform: rotateX( 320deg ) translateZ( 300px );
    }