body {
	background-color: #4AD9D9;
}

.title {
	text-align: center;
	background-color: #36B1BF;
  height: 100px;
  border-top: rgba(54, 177, 191, 0.35) 10px groove;
  border-bottom: rgba(54, 177, 191, 0.35) 10px groove;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

#explanation {
	font-family: 'Lora', serif;
	color: #F2385A;
}

.top {
	text-align: center;
	border: white solid 3px;
	background-color: #F2385A;
	width: 620px;
	border-radius: 25px;
}

.top h2 {
	font-family: 'Permanent Marker', cursive;
	color: white;
}

#slothmachine {
	float: left;
	display: inline-block;
}

.machine {
	background-color: #E9F1DF;
	width: 620px;
	height: 240px;
	border-radius: 25px;
	border: white solid 3px;
	display: inline-block;
}

.defaultSlot {
	margin-top: 20px;
	border-radius: 25px;
}

.randomSlot {
	margin-top: 20px;
	border-radius: 25px;
	/*display: inline-block;*/
}

#slot1 {
	background:url('../images/slot1-blur.png') repeat-y;
	height: 200px;
	width: 200px;
	position: relative;
	margin-top: 20px;
	display: inline-block;
/*	border-radius: 25px;*/
}

#slot2 {
	background:url('../images/slot2-blur.png') repeat-y;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin-top: 20px;
/*	border-radius: 25px;*/
}

#slot3 {
	background:url('../images/slot3-blur.png') repeat-y;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin-top: 20px;
/*	border-radius: 25px;*/
}

.clear {
	clear:both;
}

.button {
	background-color: #F5A503;
	width: 620px;
	height: 100px;
	border-radius: 25px;
	border: white solid 3px;

}

button {
	left: 200.5px;
	top: 27px;
	position: relative;
	display: inline-block;
}

#results {
	float: right;
	position: relative;
	display: inline-block;
	text-align: center;
	color: #F2385A;
}

#results h3 {
	font-family: 'Lora', serif;
}

footer {
	margin-top: 2em;
	text-align: center;
}